{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weatherData \App\Entity\WeatherData[] #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

        <ul>
            {% for data in weatherData %}
                <li>{{ data.date|date('d.m.Y') }}: {{ data.getTemperatureCelsius() }}&deg;C</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}